.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); black shadow is not really visible anyway*/
    gap: 10px;
    flex-direction: row;
}

.buttons-container button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.buttons-container button:hover {
    background-color: #555;
}

@media (width < 640px) {

    .buttons-container {
        gap: 5px;
        flex-wrap: wrap;
        padding: 5px;
    }
}